.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}
section{
    font-family: sans-serif;
    padding-top: 5rem;
}
#galery{
    background-color: #e2edff;
}
.font{
    font-family: sans-serif;
}
.biru{
    background-color: #e2edff;
}